---
import BaseLayout from "../layouts/BaseLayout.astro";
import Toggle from "../components/Toggle.astro";
import FullWidthBanner from "../components/FullWidthBanner.astro";
import RoadDetails from "../components/RoadDetails.astro";
import HeroVideo from "../components/Hero.astro";
import HeroMovie from "../assets/video/hero.mp4";
import PortfolioGallery from "../components/PortfolioGallery.astro";
import PortfolioGallerySwiper from "../components/PortfolioGallerySwipper.astro";
import ReelsGallery from "../components/ReelsGallery.astro";
import AboutSection from "../components/AboutSection.astro";
import WeddingPhoto from "../assets/img/wedding.jpg";
import TeamSection from "../components/TeamSection.astro";
import Photo1 from "../assets/img/member1.jpg";
import ContactSection from "../components/ContactSection.astro";
import Logo from "../assets/img/logo.png";
import SiteFooter from "../components/SiteFooter.astro";

import video from "../assets/video/hero.mp4";
import video1 from "../assets/video/video (1).mp4";
import video2 from "../assets/video/video (2).mp4";
import video3 from "../assets/video/video (3).mp4";
import video4 from "../assets/video/video (4).mp4";
import video5 from "../assets/video/video (5).mp4";
import video6 from "../assets/video/video (6).mp4";
import video7 from "../assets/video/video (7).mp4";
import video8 from "../assets/video/video (8).mp4";

const videos = [
  video, video1, video2, video3, video, video, 
  video, video4, video5, video6, video7, video8 
];


const pageTitle = "Coig - product website boilerplate";
---
<style>
  /* Na małych ekranach – zmniejsz top */

  /* Treść */

  .description-paragraph {
    font-size: 1rem;
    color: #f4e9c3;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-top: 1rem;
  }
</style>

<BaseLayout>
  <div id="start">
    <HeroVideo videoSrc={HeroMovie} title="" subtitle="" />
  </div>
  <!-- <div id="portfolio">
    <PortfolioGallery  videos={videos} />
    
  </div> -->
  <PortfolioGallerySwiper videos={videos} />
  <div id="reels">
    <ReelsGallery />
  </div>

  <div id="o-nas">
    <AboutSection
      headline="FILMITNOW"
      subheadline="Artystycznie dokumentujemy największą przygodę życia, staramy się stworzyć film, który naprawdę odzwierciedla Ciebie i Twoje najlepsze wspomnienia. Jesteśmy niedużym zespołem produkcyjnym specjalizującym się w rejestrowaniu celowych, wielodniowych wydarzeń. Znajdujemy się w Katowicach i dostępni jesteśmy na całym świecie."
      leftImages={[WeddingPhoto.src, WeddingPhoto.src]}
      rightImages={[WeddingPhoto.src, WeddingPhoto.src]}
    />
    <TeamSection
      headline="O nas"
      members={[
        {
          photo: Photo1.src,
          name: "Milan",
          role: "Operator kamery",
          bio: "Absolwent Ostravskiego Uniwerystetu Master of Arts z wieloletnim doświadczeniem w pracy w branży filmowej",
        },
        {
          photo: Photo1.src,
          name: "Piotrek",
          role: "Operator kamery",
          bio: "Entuzjasta filmów automotive i dynamicznych ujęć, wieloletnie doświadczenie w branży usług weselnych",
        },
        {
          photo: Photo1.src,
          name: "Iza",
          role: "Montażystka filmów",
          bio: "Doświadczona montażystka filmów ślubnych oraz związanych z mediami społecznościowymi.",
        },
        {
          photo: Photo1.src,
          name: "Klaudia",
          role: "Postprodukcja filmów",
          bio: "Dba o jakość kolorów oraz dźwięku w filmie, wieloletnie doświadczenie w branży",
        },
      ]}
    />
    <div id="kontakt">
      <ContactSection
        headline="Zostańmy w kontakcie"
        description="Zapewniamy niestandardowe usługi dla każdego ślubu. Pomóż nam dowiedzieć się więcej o Twoich uroczystościach, wypełniając poniższy formularz."
        note="Przyjmujemy ograniczoną liczbę wydarzeń na rok 2025 + 2026. Czekamy na wiadomość od Ciebie!"
        contact={{
          phone: "970-803-0683",
          email: "hello@flamefilms.co",
        }}
      />
    </div>
    <SiteFooter
      logo="/logo-footer.svg"
      instagram="https://instagram.com/filmitnow.pl"
      gallery={[Logo.src, Logo.src, Logo.src, Logo.src]}
    />
  </div>
</BaseLayout>
